@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  scroll-behavior: smooth;
  --primary: #1410b4;
  --text: #4d5657;
}

*{
  margin: 0;
  padding: 0
}

body {
  font-family: "Quicksand", sans-serif;
}