:root {
    --primary: #1410b4;
    --text: #4d5657;
}

.sidebar {
    height: 100vh;
    overflow: hidden;
    background-color: var(--primary);
    flex-basis: content;
    color: white;
    transition: flex-basis 2s ease-in;
}
.sidebar:hover {
    flex-basis: calc(100%/6);
}

.sidebar:hover .link h4, .sidebar:hover .link h3 {
    display: inline-block;
}

main {
    flex-grow: 1;
    margin-right: 70px;
}
.link {
    display: flex;
    align-items: flex-start;
    margin: 5px 15px 5px 10px;
    padding: 15px 10px 7px 15px;
    color: white;
    line-height: 24px;
    border-radius: 6px;
}

.link h4, .link h3 {
    font-family: 'Roboto', sans-serif;
    display: none;
    padding-left: 10px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    transition: all ease 2s;
}
.link h3 {
    font-size: 20px;
}
.link span {
    text-transform: uppercase;
}
.links {
    height: 78vh;
    width: 100%;
}

img {
    width: 25px;
}
.dash {
    width: 90%;
    height: 1px;
    background-color: #4742ff;
}